<% if(@users == []) %>
    <b><%=t('no_users_registered')%>.</b>
<% else %>
    <% @users.each do |user| %>
        <%= render :partial => "users/show", :locals => {:user => user} %>
    <% end %>
<% end %>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @users %>
  </div>
  <%= will_paginate @users%>
</div>