<% if(@songs == []) %>
    <% if(current_user.id != params[:id]) %>
        <p><strong><%= @user.name %> didn't upload music yet.</strong></p>
    <% else %>
        <p><strong>You didn't upload music yet.</strong></p>
    <% end %>
<% end %>
<% if(current_user != nil && current_user.id.to_s == params[:user_id])%>
    <%= render "form" %>
    <br><br>
<% end %>

<% if(current_user.id != params[:id]) %>
    <p><strong>Songs uploaded by <%= @user.name %>.</strong></p>
<% end %>
<% if(@songs != []) %>
    <div id="mysongs">
        <% @songs.each do |song| %>
            <%= render :partial => "show", :locals => {:song => song} %>
        <% end %>
    </div>
<% end %>