<% if(@songs == []) %>
        <p><strong>No songs to add.</strong></p>
<% end %>
<% @songs.each do |song| %>
        <%= render :partial => "songs/show_for_playlist", :locals => {:song => song} %>
<% end %>
